body {
	background-color: rgb(270, 270, 270);
	color : rgb(0, 0, 0);
	font-family: Arial;
	font-size: 17px;
}
h1, h2, h3 {
	font-family: Courier;
}
h1 {
	color: green ;
	font-size: 32px;
}
h2 {
	color: rgb(100, 100, 100);
	font-size : 24px;
	font-weight: lighter;
}

a {
	text-decoration: none;
	color: darkblue;
}
a: hover {
	color : purple;
}

.container {
	width:  700px;
	margin: 40px auto;
}
.card-design {
	background-color: white;
	padding: 40px;
	box-shadow: 0px 10px 30px rgba(0,0,0,0.2);
	border-radius: 4px;
	margin: 20px;
	text-align: center;
}
.img-circle {
	border-radius: 50%;
}
.btn-blue {
	background-color: darkblue;
	color: white;
	padding: 15px 20px;
	border-radius:  4px;
}
.btn-blue: hover {
	background-color: black;
	color: white;
}
.list-inline {
	list-style: none;
	padding-left: 0px;
}
.list-inline li {
	display: inline;
	padding : 10px;
}
.list-inline i {
	font-size: 50px;
	color: rgb(230,230,230);
}
.list-inline i : hover {
	font-size: 50px;
	color: black;
}
